* {
    margin: 0;
    padding: 0;
}

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

.content-box {
    margin-top: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    text-align: center;
}

figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    height: 200px;
    width: 200px;
    margin: auto;
    justify-content: center;

}

.active {
    background-color: red;
}

.dogs-box {
    margin-top: 200px;
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-template-rows: repeat(2, 300px);
}